/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
  font-family: "Merriweather", sans-serif;
  font-size: 1.125em; /*18/16= 1.125em*/
  line-height: 1.222222em; /*22/18= 1.222222em*/
}

h1 {
  font-size: 2.618em; /*47.123/18= 2.618em*/
  line-height: 1.40058em;/*66/47.123=1.40058em*/
}

h2 {
  font-size: 1.618em; /*29.124/18= 1.618em*/
  line-height: 1.5107814em; /*44/29.124=1.5107814*/;
}

main > section {
  border-style: solid;
  border-width: 0.1666666em; /* 3/18= 0.1666666em */
  border-radius: 0.8333333em; /* 15/18= 0.8333333em */
  border-color: #acacac;
  margin: 1em 10vw 1em 10vw; /*top left bottom right*/
  padding: 0.5555555em; /*10/18= 0.55555555em*/
}

input[type="text"], [type="email"] {
  width: 13.888888em; /* 250/18=13.888888em */
}

header {
  background-color: #abc8c7;
}

#submit-container {
  width: 5.5555555em; /* 100/18=5.555555em*/
  margin: 0 auto;
}

#header-content {
  width: 7em; /* 350/18= 19.444444em*/
  margin: 0 auto;
  text-align: center;
}

label {
  display: inline-block;
}

input, label, select {
  margin-bottom: 0.55555em;
}

#credit-num {
  width: 13.888888em; /* 250/18= 13.888888em*/
}

#cvv {
  width: 11.111111em; /* 200/18= 11.111111em*/
}

/* Navigation Bar CSS*/
ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  flex-grow: 1;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.875em 0.888888em; /* 14/18=0.875em  16/18=0.888888 */
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
/**/
